{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="formularioContacto">
    {% if "valido" in request.GET %}
    <script type="text/javascript">
        dataSendedSucess();
    </script>
    {% endif %}

    <form action="" method="POST" style="padding-top: 10px; padding-bottom: 10px">
        {% csrf_token %}
        <table style="color: white; margin: auto">
            {{ formContacto.as_table }}
        </table>
        <input type="submit" value="Enviar" style="width: 20% ;height: 7%; margin-top: 20px;" class="btn btn-primary">

    </form>
</div>

{% endblock %}