
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tus compras</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table-bordered" style="color: #1b1e21; margin: auto;">
                    <thead>
                    <tr>
                        <th colspan="4" class="text-center">Lista de productos</th>
                    </tr>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th></th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if request.session.cart.items %}
                            {% for key, value in request.session.cart.items %}
                                <tr class="text-center">
                                    <td style="width:15em; text-align: left;">
                                        {{ value.nombre_producto }}
                                    </td>
                                    <td>
                                        {{ value.cantidad_producto }}
                                    </td>
                                    <td>
                                        <a href="{% url 'cartURL:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                                        <a href="{% url 'cartURL:restar' value.producto_id %}" class="btn btn-sm btn-success">-</a>
                                    </td>
                                    <td>
                                        $ {{ value.precio_producto}}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-danger text-center">Tu lista no tiene productos aun</div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" style="text-align:right;" >
                                Total: $ {{importe_total_cart}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div id="smart-button-container">
                                    <div style="text-align: center;">
                                        <div id="paypal-button-container"></div>
                                    </div>
                                </div>
                                <script src="https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID" data-sdk-integration-source="button-factory"></script>
                                <script>

                                </script>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>